<p class="message" id="q_text">よく忘れ物をとりに帰る</p>
<div class="options">
  <button class="btn" id='yes-btn' onclick="clickedYes()">Yes</button>
  <button class="btn" id='no-btn' onclick="clickedNo()">No</button>
  <button class="btn" id='print-btn' onclick="print()" style="display: none">プリントする</button>
</div>
