<p class="message" id="q_text">よく忘れ物をとりに帰る</p>
<div class="options">
  <button class="btn" id='yes-btn' onclick="clickedYes()">Yes</button>
  <button class="btn" id='no-btn' onclick="clickedNo()">No</button>
</div>
<div id='print_data'>
  <%= button_to "プリントする", result_print_path, class: 'print-btn', id: 'print-btn', style: 'display: none' %>
    <!-- <input type="submit" name="btn" value="ボタン" onclick="funcBtn();" /> -->
</div>
